.interface,
.container,
body {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: black;
}

button {
    width: 50px;
    height: 50px;
}

.container {
    flex-direction: column;
}

body {
    height: 100vh;
    margin: 0;
}

.display {
    color: white;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 15px;
    width: 190px;
}

#add-btn,
#subtract-btn,
#multiply-btn,
#divide-btn {
    background-color: coral;
}

#equal-btn {
    background-color: lime;
}

#clear-btn {
    background-color: red;
}

button {
    background-color: gray;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 5px;
}

.container,
.display {
    outline-width: 1px;
    outline-style: solid;
    outline-color: white;
    padding: 10px;
    border-radius: 5px;
}